
.Resizer.vertical {
  min-width: 11px;
  margin: 0 -5px;
  border-left: 5px solid hsla(0,0%,100%,0);
  border-right: 5px solid hsla(0,0%,100%,0);
  cursor: col-resize;
}
.Resizer {
  background: #22282e;
  z-index: 1;
  background-clip: padding-box;
}

.CodeEditor {
  width: 100%;
  height: auto;
  z-index: 1;
}

.Console {
  width: 100%;
  height: auto;
  z-index: 1;
}

.Console .cursor {
  display: none !important;
}